input[type=text] {
    background-color: get-color("base", "background");
    border: 1px solid get-color("borders", "mid");
    border-radius: 6px;
    display: inline-block;
    font-size: 16px;
    padding: 6px 12px;
    width: 100%;

    @include media-query(2) {
        font-size: 36px;
        padding: 12px 24px;
    }
}